<a href="https://colab.research.google.com/github/KimoyoLabs/ThinkfulDataScience/blob/master/ColabTester.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
class Person(object):
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def print_name(self):
    print("My name is {}".format(self.name))

jamal = Person("Jamal",28)
jamal.print_name()

My name is Jamal

In [0]:
import pandas as pd
import numpy as np

age_array = np.array([50, 51, 39, 38, 124, 2013, 45, 1768, 98])
names_list = ['Sam', 'Frodo', 'Merry', 'Pippin', 'Aragorn', 'Gandalf', 'Boromir', 'Legolas', 'Gimli']

fellowship = pd.Series(age_array, index=names_list)

In [0]:
print(fellowship)

Sam          50
Frodo        51
Merry        39
Pippin       38
Aragorn     124
Gandalf    2013
Boromir      45
Legolas    1768
Gimli        98
dtype: int64

In [0]:
print("Oldest: {} \nYoungest: {} \nAverage Age: {}\n  ".format(fellowship.max(), fellowship.min(), fellowship.mean()))

Oldest: 2013
Youngest: 38
Average Age: 469.55555555555554